<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>olleh GiGA IoT</title>
</head>

<body>


<table width="700" border="0" cellpadding="0" cellspacing="0" style="font-size:12px;border:1px solid #ccc;">
    <tr>
        <td style="padding:35px 20px 20px 20px;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:12px;line-height:1.6;">
                <tr>
                    <td style="padding-bottom:25px;border-bottom:1px solid #d9dde0;"><img src="http://gigaiot.olleh.com/bcc/assets/images/logo.png" alt="IoTMakers"></td>
                </tr>
                <!--<tr>
                    <td style="padding:30px 0 20px 0;">
                        <strong style="font-size:15px;color:#ed1c24;"></strong>
                    </td>
                </tr>-->
                <tr>
                    <td style="padding:30px 0 10px 100px;">
                        고객님이 등록하신 비밀번호가 발급되었습니다.<br>아래의 비밀번호로 로그인하시기 바랍니다.
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-top:10px;">
                        <table width="300" border="0" cellpadding="0" cellspacing="0" style="font-size:16px;">
                            <tr>
                                <td style="padding-bottom:5px;font-size:12px;"><!--임시비밀번호--></td>
                            </tr>
                            <tr>
                                <td style="padding:20px 10px;color:#000;font-weight:bold;font-size:16px;" bgcolor="#eeeeee" align="center">
                                    $data.password
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;padding-top:30px;padding-bottom:40px;">
                        <a href="http://gigaiot.olleh.com/adminui/#/auth/login" bgcolor="#f1f1f1" style="display:inline-block;width:200px;height:40px;padding:10px 20px 0;color:#000;font-size:14px;font-weight:bold;text-align:center;border:1px solid #ccc;text-decoration:none;background-color:#f1f1f1;">
                         관리자 사이트 바로가기</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:30px;color:#888;text-align:left;">본 메일은 정보통신망 이용촉진 및 정보보호 등에 관한 법률 시행규칙에 의거 $data.transDate
                        고객님의 개인정보보호법 동의 여부를 확인한 결과, 동의를 하셨기에 발신 되는 메일입니다.
                        본 메일은 발신전용으로 회신되지 않습니다.</td>
                </tr>
		    </table>
	    </td>
    </tr>
    <tr>
        <td bgcolor="#f1f1f1" align="center" style="padding:30px;font-size:11px;color:#777;">COPYRIGHT (C) 2015 kt Corp. ALL RIGHTS RESERVED. </td>
    </tr>
</table>


</body>
</html>
