<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>olleh GiGA IoT</title>
</head>

<body>

<table width="700" border="0" cellpadding="0" cellspacing="0" style="font-size:12px;border:1px solid #ccc;">
    <tr>
        <td style="padding:35px 20px 20px 20px;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" style="font-size:12px;line-height:1.6;">
                <tr>
                    <td style="padding-bottom:25px;border-bottom:1px solid #d9dde0;"><img src="http://gigaiot.olleh.com/bcc/assets/images/logo.png" alt="IoTMakers"></td>
                </tr>
                <tr>
                    <td style="padding:30px 0 10px 40px;">
                        안녕하세요.
                        <br>고객님이 접수하신 내용에 대한 답변이 완료 되었습니다.
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-top:10px;" class="kt-form">
                        <h3 style="font-size:14px; font-weight: 600;color:#000;line-height: 25px;text-align: left;margin-left: 40px;margin-top: 10px;">- 신청내용</h3>
                        <table width="90%" border="0" cellpadding="0" cellspacing="0" style="border:1px solid #ccc;margin-bottom:0;table-layout:fixed;">
                            <colgroup>
                                <col style="width:120px;">
                                <col>
                                <col style="width:120px;">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;border-top-color:#ccc;padding-left:25px;border-right:1px solid #dee0e4;color:#000;vertical-align:middle;background-color:#f9f9f9;border-top: 1px solid">이름</th>
                                <td style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;border-top-color:#ccc;padding:8px 20px;border-right:1px solid #dee0e4;border-top: 1px solid;">
                                    $data.nm
                                </td>
                                <th style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;border-top-color:#ccc;padding-left:25px;border-right:1px solid #dee0e4;color:#000;vertical-align:middle;background-color:#f9f9f9;border-top: 1px solid">일반전화번호</th>
                                <td style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;border-top-color:#ccc;padding:8px 20px;border-right:1px solid #dee0e4;border-top: 1px solid;">
                                    $data.genlTelNo
                                </td>
                            </tr>
                            <tr>
                                <th style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding-left:25px;border-right:1px solid #dee0e4;color:#000;vertical-align:middle;background-color:#f9f9f9;border-top: 1px solid #ddd;">이메일</th>
                                <td style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding:8px 20px;border-right:1px solid #dee0e4;border-top: 1px solid #ddd;">
                                    $data.emailAdr
                                </td>
                                <th style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding-left:25px;border-right:1px solid #dee0e4;color:#000;vertical-align:middle;background-color:#f9f9f9;border-top: 1px solid #ddd;">휴대폰번호</th>
                                <td style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding:8px 20px;border-right:1px solid #dee0e4;border-top: 1px solid #ddd;">
                                    $data.mphonNo
                                </td>
                            </tr>
                            <tr>
                                <th style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding-left:25px;border-right:1px solid #dee0e4;color:#000;vertical-align:middle;background-color:#f9f9f9;border-top: 1px solid #ddd;">사업제안자 유형</th>
                                <td colspan="3" style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding:8px 20px;border-right:1px solid #dee0e4;border-top: 1px solid #ddd;">
                                    $data.userDivCdNm $data.bizPrpTypeCdNm
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-top:5px;" class="kt-form">
                        <table width="90%" border="0" cellpadding="0" cellspacing="0" style="border:1px solid #ccc;margin-bottom:0;table-layout:fixed;">
                            <colgroup>
                                <col style="width:120px;">
                                <col>
                                <col style="width:120px;">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;border-top-color:#ccc;padding-left:25px;border-right:1px solid #dee0e4;color:#000;vertical-align:middle;background-color:#f9f9f9;border-top: 1px solid">법인 명</th>
                                <td style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;border-top-color:#ccc;padding:8px 20px;border-right:1px solid #dee0e4;border-top: 1px solid;">
                                    $data.corpNm
                                </td>
                                <th style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;border-top-color:#ccc;padding-left:25px;border-right:1px solid #dee0e4;color:#000;vertical-align:middle;background-color:#f9f9f9;border-top: 1px solid">사업자등록번호</th>
                                <td style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;border-top-color:#ccc;padding:8px 20px;border-right:1px solid #dee0e4;border-top: 1px solid;">
                                    $data.bizno
                                </td>
                            </tr>
                            <tr>
                                <th style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding-left:25px;border-right:1px solid #dee0e4;color:#000;vertical-align:middle;background-color:#f9f9f9;border-top: 1px solid #ddd;">업종</th>
                                <td style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding:8px 20px;border-right:1px solid #dee0e4;border-top: 1px solid #ddd;">
                                    $data.tpindNm
                                </td>
                                <th style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding-left:25px;border-right:1px solid #dee0e4;color:#000;vertical-align:middle;background-color:#f9f9f9;border-top: 1px solid #ddd;">종업원수</th>
                                <td style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding:8px 20px;border-right:1px solid #dee0e4;border-top: 1px solid #ddd;">
                                    $data.emplNum 명
                                </td>
                            </tr>
                            <tr>
                                <th style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding-left:25px;border-right:1px solid #dee0e4;color:#000;vertical-align:middle;background-color:#f9f9f9;border-top: 1px solid #ddd;">자본금</th>
                                <td style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding:8px 20px;border-right:1px solid #dee0e4;border-top: 1px solid #ddd;">
                                    $data.cptlAmt 원
                                </td>
                                <th style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding-left:25px;border-right:1px solid #dee0e4;color:#000;vertical-align:middle;background-color:#f9f9f9;border-top: 1px solid #ddd;">설립년도</th>
                                <td style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding:8px 20px;border-right:1px solid #dee0e4;border-top: 1px solid #ddd;">
                                    $data.fndYy 년
                                </td>
                            </tr>
                            <tr>
                                <th style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding-left:25px;border-right:1px solid #dee0e4;color:#000;vertical-align:middle;background-color:#f9f9f9;border-top: 1px solid #ddd;">대표자 성명</th>
                                <td style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding:8px 20px;border-right:1px solid #dee0e4;border-top: 1px solid #ddd;">
                                    $data.reprNm
                                </td>
                                <th style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding-left:25px;border-right:1px solid #dee0e4;color:#000;vertical-align:middle;background-color:#f9f9f9;border-top: 1px solid #ddd;">대표자전화번호</th>
                                <td style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding:8px 20px;border-right:1px solid #dee0e4;border-top: 1px solid #ddd;">
                                    $data.repTelNo
                                </td>
                            </tr>
                            <tr>
                                <th style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding-left:25px;border-right:1px solid #dee0e4;color:#000;vertical-align:middle;background-color:#f9f9f9;border-top: 1px solid #ddd;">회사주소</th>
                                <td colspan="3" style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding:8px 20px;border-right:1px solid #dee0e4;border-top: 1px solid #ddd;">
                                    $data.cmpnAdr
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-top:5px;" class="kt-form">
                        <table width="90%" border="0" cellpadding="0" cellspacing="0" style="border:1px solid #ccc;margin-bottom:0;table-layout:fixed;">
                            <colgroup>
                                <col style="width:120px;">
                                <col>
                                <col style="width:120px;">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;border-top-color:#ccc;padding-left:25px;border-right:1px solid #dee0e4;color:#000;vertical-align:middle;background-color:#f9f9f9;border-top: 1px solid">제목</th>
                                <td colspan="3" style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;border-top-color:#ccc;padding:8px 20px;border-right:1px solid #dee0e4;border-top: 1px solid;">
                                    $data.titleNm
                                </td>
                            </tr>
                            <tr>
                                <th style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding-left:25px;border-right:1px solid #dee0e4;color:#000;vertical-align:middle;background-color:#f9f9f9;border-top: 1px solid #ddd;">제안내용 요약</th>
                                <td colspan="3" style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;padding:8px 20px;border-right:1px solid #dee0e4;border-top: 1px solid #ddd;">
                                    $data.prpSumrySbst
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-top:10px;" class="kt-form">
                        <h3 style="font-size:14px; font-weight: 600;color:#000;line-height: 25px;text-align: left;margin-left: 40px;margin-top: 10px;">- 답변내용</h3>
                        <table width="90%" border="0" cellpadding="0" cellspacing="0" style="border:1px solid #ccc;margin-bottom:0;table-layout:fixed;">
                            <colgroup>
                                <col style="width:120px;">
                                <col>
                                <col style="width:120px;">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;border-top-color:#ccc;padding-left:25px;border-right:1px solid #dee0e4;color:#000;vertical-align:middle;background-color:#f9f9f9;border-top: 1px solid">답변</th>
                                <td colspan="3" style="border-color:#ebedf1;line-height:1.7;text-align: left;font-size: 12px;border-top-color:#ccc;padding:8px 20px;border-right:1px solid #dee0e4;border-top: 1px solid;">
                                    $data.mailSbst
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;padding-top:30px;padding-bottom:40px;">
                        <a href="http://gigaiot.olleh.com/adminui/#/auth/login" bgcolor="#f1f1f1" style="display:inline-block;width:200px;height:40px;padding:10px 20px 0;color:#000;font-size:14px;font-weight:bold;text-align:center;border:1px solid #ccc;text-decoration:none;background-color:#f1f1f1;">
                        	관리자 사이트 바로가기
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:30px;color:#888;text-align:left;">본 메일은 정보통신망 이용촉진 및 정보보호 등에 관한 법률 시행규칙에 의거 $data.transDate
                        고객님의 개인정보보호법 동의 여부를 확인한 결과, 동의를 하셨기에 발신 되는 메일입니다.
                        본 메일은 발신전용으로 회신되지 않습니다.</td>
                </tr>
		    </table>
	    </td>
    </tr>
<!--<tr>
	<td bgcolor="#f1f1f1" style="padding-top:30px;color:#888;text-align:center;">본 메일은 발신전용 메일입니다. </td>
</tr>-->
    <tr>
        <td bgcolor="#f1f1f1" align="center" style="padding:30px;font-size:11px;color:#777;">COPYRIGHT (C) 2015 kt Corp. ALL RIGHTS RESERVED. </td>
    </tr>
</table>


</body>
</html>
