<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>S-Tower Coworkers > Invoice Preview</title>
</head>
<body>
	<!-- mail code s -->
	<div style="margin:0 auto;width:800px;text-align:center;border:1px solid #ddd;">
		<h2 style="display:inline-block;margin:0;padding:20px 0;width:100%;text-align:left;background:#5e89cc;">
			<img src="http://idrpub.dothome.co.kr/task/trunk/stower/ko/admin/contents/email/images/logo_top.png" alt="Coworkers" style="margin-left:20px;"/>
		</h2>
		<div style="margin:0 auto;padding:0;width:100%;">
			<!-- mail contents s -->

			<h3 style="margin:0;padding:20px 0;width:100%;font-size:16px;color:#444;text-align:left;">
				<span style="padding:0 20px;font-size:1.3em;">Invoice 미리보기 안내</span>
			</h3>

			<div style="margin:20px 3%;width:94%;text-align:left;">
				<ul style="margin:0;padding:0;margin-bottom:30px;line-height:1;">
					<li style="margin-bottom:10px;list-style:none;">세안홀딩스 (주)Seian holdings Co.,LTD</li>
					<li style="margin-bottom:10px;list-style:none;">President: Suk Hoon PARK Regd. no.: 102-81-22968</li>
					<li style="margin-bottom:10px;list-style:none;">19F, S-Tower, 82Saemunanro, Jongno-Gu, Seoul 03815</li>
					<li style="margin-bottom:10px;list-style:none;">T: 02-733-9292 F: 02-738-6111 www.coworkers.com</li>
				</ul>
				<h1 style="font-size:1.2em;">INVOICE</h1>
				<table cellspacing="0" cellpadding="0" style="margin-bottom:30px;width:100%;font-size:0.9em;border:1px solid #dcdcdc;">
					<tbody>
						<tr>
							<th style="padding:15px 20px;background:#eaedf2;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;">Company</th>
							<td colspan="3" style="padding:15px 20px;border-bottom:1px solid #dcdcdc;">$data.company_name</td>
						</tr>
						<tr>
							<th style="padding:15px 20px;background:#eaedf2;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;">Attention</th>
							<td colspan="3" style="padding:15px 20px;border-bottom:1px solid #dcdcdc;">$data.mgr_name</td>
						</tr>
						<tr>
							<th style="padding:15px 20px;background:#eaedf2;border-right:1px solid #dcdcdc;">Issued by</th>
							<td style="padding:15px 20px;border-right:1px solid #dcdcdc;">$data.mgr_name</td>
							<th style="padding:15px 20px;background:#eaedf2;border-right:1px solid #dcdcdc;">Issued date</th>
							<td style="padding:15px 20px;">$data.issue_month</td>
						</tr>
					</tbody>
				</table>

				<table cellspacing="0" cellpadding="0" style="width:100%;font-size:0.9em;border-top:1px solid #dcdcdc;">
					<thead>
						<tr>
							<th style="padding:15px 20px;text-align:center;background:#eaedf2;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;border-left:1px solid #dcdcdc;">Date</th>
							<th style="padding:15px 20px;text-align:center;background:#eaedf2;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;">Text</th>
							<th style="padding:15px 20px;text-align:center;background:#eaedf2;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;">Debits</th>
							<th style="padding:15px 20px;text-align:center;background:#eaedf2;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;">Credits</th>
							<th style="padding:15px 20px;text-align:center;background:#eaedf2;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;">Remarks</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="padding:15px 10px;text-align:center;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;">$data.start_date ~ $data.end_date</td>
							<td style="padding:15px 10px;text-align:left;border-right:1px solid #dcdcdc;">Monthly Rental Charge</td>
							<td style="padding:15px 10px;text-align:right;border-right:1px solid #dcdcdc;">$data.rent_charges</td>
							<td style="padding:15px 10px;text-align:center;border-right:1px solid #dcdcdc;">&nbsp;</td>
							<td style="padding:15px 10px;text-align:center;border-right:1px solid #dcdcdc;">&nbsp;</td>
						</tr>
						
						<tr>
							<td style="padding:15px 10px;text-align:center;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;border-left:1px solid #dcdcdc;"></td>
							<td style="padding:15px 10px;text-align:left;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;">$data.addition_name</td>
							<td style="padding:15px 10px;text-align:right;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;">$data.addition</td>
							<td style="padding:15px 10px;text-align:center;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;">&nbsp;</td>
							<td style="padding:15px 10px;text-align:center;border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;">&nbsp;</td>
						</tr>
						
						<tr>
							<td style="padding:15px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;">$data.start_date ~ $data.end_date</td>
							<td style="padding:15px 10px 5px;vertical-align:top;text-align:left;border-right:1px solid #dcdcdc;">Additional Service</td>
							<td style="padding:15px 10px 5px;vertical-align:top;text-align:right;border-right:1px solid #dcdcdc;">$data.non_service</td>
							<td style="padding:15px 10px 5px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
							<td style="padding:15px 10px 5px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;">$data.service_remark</td>
						</tr>
						<tr>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:left;border-right:1px solid #dcdcdc;">Vending Machine Time</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:right;border-right:1px solid #dcdcdc;">$data.non_vending</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;">$data.vending_remark</td>
						</tr>
						<tr>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:left;border-right:1px solid #dcdcdc;">Printing Machine</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:right;border-right:1px solid #dcdcdc;">$data.non_mul_machine</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;">$data.mul_machine_remark</td>
						</tr>
						<tr>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:left;border-right:1px solid #dcdcdc;">Equipment Rental</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:right;border-right:1px solid #dcdcdc;">$data.non_equip</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
						</tr>
						<tr>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:left;border-right:1px solid #dcdcdc;">Customized Secretarial Service</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:right;border-right:1px solid #dcdcdc;">$data.non_css</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
						</tr>
						<tr>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:left;border-right:1px solid #dcdcdc;">Courier Service</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:right;border-right:1px solid #dcdcdc;">$data.non_cs</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
						</tr>
						<tr>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:left;border-right:1px solid #dcdcdc;">Stationery</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:right;border-right:1px solid #dcdcdc;">$data.non_stationary</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
						</tr>
						<tr>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:left;border-right:1px solid #dcdcdc;">Miscellaneous Charge</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:right;border-right:1px solid #dcdcdc;">$data.non_miscellaneous_charge</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;">$data.miscellaneous_charge_remark</td>
						</tr>
						<tr>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:left;border-right:1px solid #dcdcdc;">Beverage</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:right;border-right:1px solid #dcdcdc;">$data.non_beverage</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
						</tr>
						<tr>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:left;border-right:1px solid #dcdcdc;">Telephone</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:right;border-right:1px solid #dcdcdc;">$data.non_telephone</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
						</tr>
						<tr>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:left;border-right:1px solid #dcdcdc;">Beverage</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:right;border-right:1px solid #dcdcdc;">$data.non_internet</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
						</tr>
						<tr>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:left;border-right:1px solid #dcdcdc;">Internet</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:right;border-right:1px solid #dcdcdc;">0</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
						</tr>
						<tr>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:left;border-right:1px solid #dcdcdc;">Installation</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:right;border-right:1px solid #dcdcdc;">$data.non_installation</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
						</tr>
						<tr>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:left;border-right:1px solid #dcdcdc;">IT</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:right;border-right:1px solid #dcdcdc;">$data.non_it</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;">$data.it_remark</td>
						</tr>
						<tr>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;border-left:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:left;border-right:1px solid #dcdcdc;">Parking Fee</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:right;border-right:1px solid #dcdcdc;">$data.non_parking_fee</td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;"></td>
							<td style="padding:5px 10px 15px;vertical-align:top;text-align:center;border-right:1px solid #dcdcdc;">$data.parking_fee_remark</td>
						</tr>
						<tr>
							<td style="padding:15px 10px 15px;vertical-align:top;text-align:center;border-top:1px solid #dcdcdc;border-right:0px solid #dcdcdc;border-left:1px solid #dcdcdc;"></td>
							<td style="padding:15px 10px 15px;vertical-align:top;text-align:left;border-top:1px solid #dcdcdc;border-right:1px solid #dcdcdc;">Service Use Total</td>
							<td style="padding:15px 10px 15px;vertical-align:top;text-align:right;border-top:1px solid #dcdcdc;border-right:1px solid #dcdcdc;">$data.serviceusetotal</td>
							<td style="padding:15px 10px 15px;vertical-align:top;text-align:center;border-top:1px solid #dcdcdc;border-right:1px solid #dcdcdc;"></td>
							<td style="padding:15px 10px 15px;vertical-align:top;text-align:center;border-top:1px solid #dcdcdc;border-right:1px solid #dcdcdc;"></td>
						</tr>
						<tr>
							<td style="padding:15px 10px 15px;vertical-align:top;text-align:center;border-top:1px solid #dcdcdc;border-right:0px solid #dcdcdc;border-left:1px solid #dcdcdc;"></td>
							<td style="padding:15px 10px 15px;vertical-align:top;text-align:left;border-top:1px solid #dcdcdc;border-right:1px solid #dcdcdc;">VAT Total</td>
							<td style="padding:15px 10px 15px;vertical-align:top;text-align:right;border-top:1px solid #dcdcdc;border-right:1px solid #dcdcdc;">$data.vattotal</td>
							<td style="padding:15px 10px 15px;vertical-align:top;text-align:center;border-top:1px solid #dcdcdc;border-right:1px solid #dcdcdc;"></td>
							<td style="padding:15px 10px 15px;vertical-align:top;text-align:center;border-top:1px solid #dcdcdc;border-right:1px solid #dcdcdc;"></td>
						</tr>
						<tr>
							<td colspan="5" style="padding:20px;font-size:1.2em;text-align:right;border-top:1px solid #dcdcdc;"><strong>Grand Total Amount<span style="margin-left:20px;">$data.grandtotalamount</span></strong></td>
						</tr>
					</tbody>
				</table>
				<table cellspacing="0" cellpadding="0" style="margin-bottom:30px;width:100%;font-size:0.9em;border-top:2px solid #dcdcdc;border-bottom:2px solid #dcdcdc;">
					<tr>
						<th colspan="3" style="padding:30px 20px 5px 20px;">BANK INFORMATION</th>
					</tr>
					<tr>
						<td style="padding:0 20px;">BANK NAME</td>
						<td colspan="2" style="padding:0 20px;">Shinhan Bank</td>
					</tr>
					<tr>
						<td style="padding:0 20px;">BANK ACCOUNT</td>
						<td colspan="2" style="padding:0 20px;">140-009-489904</td>
					</tr>
					<tr>
						<td style="padding:0 20px;">BENEFICIARY</td>
						<td colspan="2" style="padding:0 20px;">Seian holdings Co.,LTD.</td>
					</tr>
					<tr>
						<td style="padding:0 20px 30px 20px;">SWIFT CODE</td>
						<td style="padding:0 20px 30px 20px;">SHBKKRSE</td>
						<td style="padding:0 20px 30px 20px;text-align:right;">T: $data.mgr_hp_no, E: $data.mgr_email</td>
					</tr>
				</table>
			</div>
			
			<div style="margin-top:40px;text-align:center;">
				<a href="#none" style="display:inline-block;padding:10px 50px;font-weight:bold;font-size:1em;color:#fff;text-align:center;text-decoration:none;background:#3b6ebb;border-radius:3px;">Coworkers 멤버전용 페이지 바로가기</a>
			</div>

			<!-- mail contents e -->
		</div>
		<div style="margin-top:60px;padding:16px 0;text-align:center;background:#f4f6f9;">
			<span style="display:inline-block;margin:0 auto;padding-left:90px;height:14px;font:normal 12px 'dotum';color:#666;text-align:center;background:url(http://idrpub.dothome.co.kr/task/trunk/stower/admin/contents/email/images/logo_footer.png) no-repeat 0 50%;">
			| Copyright (c) 2017 Seian Hoidings CO., LTD. All Right Reserved.</span>
		</div>
	</div>
	<!-- mail code e -->
</body>
</html>