<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>S-Tower Coworkers</title>
</head>
<body>
	<!-- mail code s -->
	<div style="margin:0 auto;width:800px;text-align:center;border:1px solid #ddd;">
		<h2 style="display:inline-block;margin:0;padding:20px 0;width:100%;text-align:left;background:#5e89cc;">
			<img src="http://idrpub.dothome.co.kr/task/trunk/stower/ko/admin/contents/email/images/logo_top.png" alt="Coworkers" style="margin-left:20px;"/>
		</h2>
		<div style="margin:0 auto;padding:0;width:100%;">
			<!-- mail contents s -->

			<h3 style="margin:0;padding:20px 0;width:100%;font-size:16px;color:#444;text-align:left;">
				<span style="padding:0 20px;">견적서</span>
			</h3>
			<!-- <div style="padding:40px 0;">
				<div style="width:100%;">
					<div style="font-weight:bold;font-size:16px;color:#666;">
						Coworkers 견적서
					</div>
				</div>
			</div> -->
			<div style="margin:0;padding:0;width:92%;">
				<table cellpadding="0" cellspacing="0" style="margin:0 auto;width:80%;font-family:'dotum';font-size:13px;color:#666;border-top:2px solid #ddd;">
					
					<tr>
						<!-- <th style="padding:18px 30px;width:40%;text-align:left;background:#ebeef2;border-bottom:1px solid #ddd;">비밀번호</th>
						<td style="padding:18px 30px;width:60%;text-align:left;border-bottom:1px solid #ddd;"> $data.password   </td>
						
						<th style="padding:18px 30px;width:40%;text-align:left;background:#ebeef2;border-bottom:1px solid #ddd;">비밀번호</th>
						-->
						<td>$data.password</td>
					</tr>
				</table>
				<div style="margin-top:40px;text-align:center;">
					<a href="http://www.coworkerskorea.net/seian/" style="display:inline-block;padding:10px 50px;font-weight:bold;font-size:1em;color:#fff;text-align:center;text-decoration:none;background:#3b6ebb;border-radius:3px;">Coworkers 멤버전용 페이지 바로가기</a>
				</div>
			</div>
			
			<!-- mail contents e -->
		</div>
		<div style="margin-top:60px;padding:16px 0;text-align:center;background:#f4f6f9;">
			<span style="display:inline-block;margin:0 auto;padding-left:90px;height:14px;font:normal 12px 'dotum';color:#666;text-align:center;background:url(http://idrpub.dothome.co.kr/task/trunk/stower/admin/contents/email/images/logo_footer.png) no-repeat 0 50%;">
			| Copyright (c) 2017 Seian Hoidings CO., LTD. All Right Reserved.</span>
		</div>
	</div>
	<!-- mail code e -->
</body>
</html>