<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.anylogic.iot.api.admin.systemconfig.mapper.ConferenceMapper">


    <!--  회의실 검색 -->
    <select id="selectCF" parameterType="Map" resultType="Map">
        <!--  페이징 SQL Header -->
        <include refid="com.anylogic.iot.api.common.mapper.CommonMapper.pagingHeaderSql" />

        SELECT
            branch_id
            , room_name
            , floor
            , room_size
            , room_area
            , basic_fee
            , state
            , fixed_equip
            , created_date
            , del_yn
            , descri
            , update_date
            , start_time
            , end_time
            , basic_hour
            , room_no
            , special_ratio
            , hour_fee
            , halfday_fee
            , ROW_NUMBER() OVER( order by conference_id ) as RNUM 
        FROM saehan.tb_conference
        WHERE 1 = 1
        <if
            test="searchType != null and (searchType eq 'branch'.toString()) and searchText != null and searchText"> 
            and conference_id = #{searchText}::int
        </if>

        <!--  페이징 SQL Footer -->
        <include refid="com.anylogic.iot.api.common.mapper.CommonMapper.pagingFooterSql" />
    </select>


    <!--  회의실 삭제 -->
    <delete id="deleteCF" parameterType="Map">
        UPDATE saehan.tb_conference
        SET
            del_yn = 'Y' 
        WHERE conference_id = #{conference_id}::int
    </delete>


    <!--  회의실 등록 -->
    <insert id="insertCF" parameterType="Map">
        INSERT INTO
        saehan.tb_conference(
            conference_id
            , branch_id
            , room_name
            , floor
            , room_size
            , room_area
            , basic_fee
            , state
            , fixed_equip
            , created_date
            , del_yn
            , descri
            , update_date
            , start_time
            , end_time
            , basic_hour
            , room_no
            , special_ratio
            , hour_fee
            , halfday_fee
        )
        VALUES(
            #{conference_id}::int
            , #{branch_id}::int
            , #{room_name}
            , #{floor}
            , #{room_size}::int
            , #{room_area}::int
            , #{basic_fee}::int
            , #{state}
            , #{fixed_equip}
            , #{created_date}
            , #{del_yn}
            , #{descri}
            , #{update_date}
            , #{start_time}
            , #{end_time}
            , #{basic_hour}::int
            , #{room_no}
            , #{special_ratio}::int
            , #{hour_fee}::int
            , #{halfday_fee}::int
        )
    </insert>


    <!--  회의실 변경 -->
    <update id="updateCF" parameterType="Map">
        UPDATE saehan.tb_conference
        SET
            branch_id = #{branch_id}::int
            , room_name = #{room_name}
            , floor = #{floor}
            , room_size = #{room_size}::int
            , room_area = #{room_area}::int
            , basic_fee = #{basic_fee}::int
            , state = #{state}
            , fixed_equip = #{fixed_equip}
            , created_date = #{created_date}
            , del_yn = #{del_yn}
            , descri = #{descri}
            , update_date = #{update_date}
            , start_time = #{start_time}
            , end_time = #{end_time}
            , basic_hour = #{basic_hour}::int
            , room_no = #{room_no}
            , special_ratio = #{special_ratio}::int
            , hour_fee = #{hour_fee}::int
            , halfday_fee = #{halfday_fee}::int
        WHERE conference_id = #{conference_id}::int
    </update>

</mapper>
