<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.anylogic.iot.api.admin.systemconfig.mapper.EquipMapper">


    <!--  장비 검색 -->
    <select id="selectEQ" parameterType="Map" resultType="Map">
        <!--  페이징 SQL Header -->
        <include refid="com.anylogic.iot.api.common.mapper.CommonMapper.pagingHeaderSql" />

        SELECT
            branch_id
            , equip_name
            , count
            , place_flag
            , useflag
            , state
            , created_date
            , del_yn
            , update_date
            , ROW_NUMBER() OVER( order by equip_id ) as RNUM 
        FROM saehan.tb_equip
        WHERE 1 = 1
        <if
            test="searchType != null and (searchType eq 'branch'.toString()) and searchText != null and searchText"> 
            and equip_id = #{searchText}::int
        </if>

        <!--  페이징 SQL Footer -->
        <include refid="com.anylogic.iot.api.common.mapper.CommonMapper.pagingFooterSql" />
    </select>


    <!--  장비 등록 -->
    <insert id="insertEQ" parameterType="Map">
        INSERT INTO
        saehan.tb_equip(
            equip_id
            , branch_id
            , equip_name
            , count
            , place_flag
            , useflag
            , state
            , created_date
            , del_yn
            , update_date
        )
        VALUES(
            #{equip_id}::int
            , #{branch_id}::int
            , #{equip_name}
            , #{count}::int
            , #{place_flag}::int
            , #{useflag}
            , #{state}
            , #{created_date}
            , #{del_yn}
            , #{update_date}
        )
    </insert>

</mapper>
