<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.anylogic.iot.api.admin.systemconfig.mapper.FacilityMapper">


    <!--  편의시설 검색 -->
    <select id="selectFC" parameterType="Map" resultType="Map">
        <!--  페이징 SQL Header -->
        <include refid="com.anylogic.iot.api.common.mapper.CommonMapper.pagingHeaderSql" />

        SELECT
            branch_id
            , type
            , room_name
            , floor
            , acceptor_number
            , basic_use_hour
            , basic_use_fee
            , state
            , created_date
            , del_yn
            , update_date
            , operation_open_time
            , operation_close_time
            , ROW_NUMBER() OVER( order by facility_id ) as RNUM 
        FROM saehan.tb_facility
        WHERE 1 = 1
        <if
            test="searchType != null and (searchType eq 'branch'.toString()) and searchText != null and searchText"> 
            and facility_id = #{searchText}::int
        </if>

        <!--  페이징 SQL Footer -->
        <include refid="com.anylogic.iot.api.common.mapper.CommonMapper.pagingFooterSql" />
    </select>


    <!--  편의시설 등록 -->
    <insert id="insertFC" parameterType="Map">
        INSERT INTO
        saehan.tb_facility(
            facility_id
            , branch_id
            , type
            , room_name
            , floor
            , acceptor_number
            , basic_use_hour
            , basic_use_fee
            , state
            , created_date
            , del_yn
            , update_date
            , operation_open_time
            , operation_close_time
        )
        VALUES(
            #{facility_id}::int
            , #{branch_id}::int
            , #{type}
            , #{room_name}
            , #{floor}
            , #{acceptor_number}::int
            , #{basic_use_hour}::int
            , #{basic_use_fee}::int
            , #{state}
            , #{created_date}
            , #{del_yn}
            , #{update_date}
            , #{operation_open_time}
            , #{operation_close_time}
        )
    </insert>


    <!--  편의시설 변경 -->
    <update id="updateFC" parameterType="Map">
        UPDATE saehan.tb_facility
        SET
            branch_id = #{branch_id}::int
            , type = #{type}
            , room_name = #{room_name}
            , floor = #{floor}
            , acceptor_number = #{acceptor_number}::int
            , basic_use_hour = #{basic_use_hour}::int
            , basic_use_fee = #{basic_use_fee}::int
            , state = #{state}
            , created_date = #{created_date}
            , del_yn = #{del_yn}
            , update_date = #{update_date}
            , operation_open_time = #{operation_open_time}
            , operation_close_time = #{operation_close_time}
        WHERE facility_id = #{facility_id}::int
    </update>


    <!--  편의시설 삭제 -->
    <delete id="deleteFC" parameterType="Map">
        UPDATE saehan.tb_facility
        SET
            del_yn = 'Y' 
        WHERE facility_id = #{facility_id}::int
    </delete>

</mapper>
