<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.anylogic.iot.api.admin.systemConfig.mapper.OfficeMapper">


    <!--  사무실 검색 -->
    <select id="getOffice" parameterType="Map" resultType="Map">
        <!--  페이징 SQL Header -->
        <include refid="com.anylogic.iot.api.common.mapper.CommonMapper.pagingHeaderSql" />

        SELECT
            office_id
            , branch_id
            , office_name
            , floor
            , mem_cnt
            , room_price
            , created_date
            , residence_flag
            , state
            , del_yn
            , update_date
            , ROW_NUMBER() OVER( order by office_id ) as RNUM 
        FROM saehan.tb_office
        WHERE 1 = 1
            and del_yn = 'N' 
        <if test="searchType != null and (searchType eq 'A'.toString()) and searchText != null and searchText"> 
            and office_id = #{searchText}::int
        </if>

        <!--  페이징 SQL Footer -->
        <include refid="com.anylogic.iot.api.common.mapper.CommonMapper.pagingFooterSql" />
    </select>


    <!--  사무실 검색 -->
    <select id="selectOF" parameterType="Map" resultType="Map">
        <!--  페이징 SQL Header -->
        <include refid="com.anylogic.iot.api.common.mapper.CommonMapper.pagingHeaderSql" />

        SELECT
            office_id
            , branch_id
            , office_name
            , floor
            , mem_cnt
            , room_price
            , created_date
            , residence_flag
            , state
            , del_yn
            , update_date
            , ROW_NUMBER() OVER( order by office_id ) as RNUM 
        FROM saehan.tb_office
        WHERE 1 = 1
            and del_yn = 'N' 
        <if test="searchType != null and (searchType eq 'A'.toString()) and searchText != null and searchText"> 
            and office_id = #{searchText}::int
        </if>

        <!--  페이징 SQL Footer -->
        <include refid="com.anylogic.iot.api.common.mapper.CommonMapper.pagingFooterSql" />
    </select>


    <!--  사무실 등록 -->
    <insert id="insertOF" parameterType="Map">
        INSERT INTO
        saehan.tb_office(
            office_id
            , branch_id
            , office_name
            , floor
            , mem_cnt
            , room_price
            , created_date
            , residence_flag
            , state
            , del_yn
            , update_date
        )
        VALUES(
            #{office_id}::int
            , #{branch_id}::int
            , #{office_name}
            , #{floor}::int
            , #{mem_cnt}::int
            , #{room_price}::int
            , #{created_date}
            , #{residence_flag}
            , #{state}
            , #{del_yn}
            , #{update_date}
        )
    </insert>


    <!--  사무실 변경 -->
    <update id="updateOF" parameterType="Map">
        UPDATE saehan.tb_office
        SET
            branch_id = #{branch_id}::int
            , office_name = #{office_name}
            , floor = #{floor}::int
            , mem_cnt = #{mem_cnt}::int
            , room_price = #{room_price}::int
            , created_date = #{created_date}
            , residence_flag = #{residence_flag}
            , state = #{state}
            , del_yn = #{del_yn}
            , update_date = #{update_date}
        WHERE office_id = #{office_id}::int
    </update>


    <!--  사무실 삭제 -->
    <delete id="deleteOF" parameterType="Map">
        UPDATE saehan.tb_office
        SET
            del_yn = 'Y' 
        WHERE office_id = #{office_id}::int
    </delete>

</mapper>
