<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.anylogic.iot.api.admin.systemConfig.mapper.ProductMapper">


    <!--  상품 등록 -->
    <insert id="insertPD" parameterType="Map">
        INSERT INTO
        saehan.tb_product(
            type
            , buying_time
            , product_price
            , created_date
            , del_yn
            , update_date
            , activate
            , create_id
            , update_id
        )
        VALUES(
           #{type}
            , #{buying_time}::int
            , #{product_price}::int
            , now()
            , #{del_yn}
            , now()
            , #{activate}
            , #{create_id}::int
            , #{update_id}::int
        )
    </insert>


    <!--  상품 변경 -->
    <update id="updatePD" parameterType="Map">
        UPDATE saehan.tb_product
        SET
            type = #{type}
            , buying_time = #{buying_time}::int
            , product_price = #{product_price}::int
            <!-- , created_date = #{created_date}
             -->
             , del_yn = #{del_yn}
            <!-- , update_date = #{update_date} -->
            , update_date = now()
            , activate = #{activate}
            , create_id = #{create_id}::int
            , update_id = #{update_id}::int
        WHERE product_id = #{product_id}::int
    </update>


    <!--  상품 검색 -->
    <select id="selectPD" parameterType="Map" resultType="Map">
        <!--  페이징 SQL Header -->
        <include refid="com.anylogic.iot.api.common.mapper.CommonMapper.pagingHeaderSql" />

        SELECT
        product_id
            , type
            , buying_time
            , product_price
            , created_date
            , del_yn
            , update_date
            , activate
            , create_id
            , update_id
            , ROW_NUMBER() OVER( order by product_id ) as RNUM 
        FROM saehan.tb_product
        WHERE 1 = 1
            and del_yn = 'N' 
        <if test="searchType != null and (searchType eq 'A'.toString()) and searchText != null and searchText"> 
            and product_id = #{searchText}::int
        </if>

        <!--  페이징 SQL Footer -->
        <include refid="com.anylogic.iot.api.common.mapper.CommonMapper.pagingFooterSql" />
    </select>


    <!--  상품 삭제 -->
    <delete id="deletePD" parameterType="Map">
        UPDATE saehan.tb_product
        SET
            del_yn = 'Y' 
        WHERE product_id = #{product_id}::int
    </delete>

</mapper>
