<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.anylogic.iot.api.admin.common.mapper.Attach_fileMapper">

    <!--  첨부파일 등록 -->
    <insert id="insertFileData" parameterType="Map">

       <!--  <selectKey keyProperty="reference_id" resultType="int" order="AFTER">
            SELECT MAX(#{_primaryKey}) FROM ${_tableName}
        </selectKey>
 -->


        INSERT INTO
        sdp.tb_attach_file(
            reference_id
            , file_name
            , file_path
            , create_dt
            , table_name
        )
        VALUES(
            #{reference_id}
            , #{file_name}
            , #{file_path}
            , now()
            , #{table_name}
        )
    </insert>


    <!--  첨부파일 검색 -->
    <select id="getFileData" parameterType="Map" resultType="Map">

        SELECT
            attach_file_id
            , reference_id
            , file_name
            , file_path
            , to_char(create_dt,'YYYY-MM-DD hh24:mi:ss') as create_dt
            , table_name
            , ROW_NUMBER() OVER( order by attach_file_id ) as RNUM 
        FROM sdp.tb_attach_file
        WHERE 1 = 1
        AND table_name = #{table_name}
        AND reference_id = #{reference_id}
        
        <!-- <if test="searchType != null and (searchType eq 'A'.toString()) and searchText != null and searchText"> 
            and attach_file_id = #{searchText}::int
        </if> -->

    </select>

    <!--  첨부파일 변경 -->
    <insert id="updateFileData" parameterType="Map">

        <selectKey keyProperty="reference_id" resultType="int" order="AFTER">
            SELECT MAX(#{_primaryKey}) FROM ${_tableName}
        </selectKey>



        INSERT INTO
        sdp.tb_attach_file(
            reference_id
            , file_name
            , file_path
            , create_dt
            , table_name
        )
        VALUES(
            #{reference_id}
            , #{file_name}
            , #{file_path}
            , now()
            , #{table_name}
        )
    </insert>


    <!--  첨부파일 삭제 -->
    <delete id="deleteFileData" parameterType="Map">
        DELETE FROM sdp.tb_attach_file
        WHERE reference_id = #{reference_id}
        AND table_name = #{table_name};
    </delete>

</mapper>
