<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anylogic.iot.api.code.mapper.CodeMapper">
<!-- 
    <select id="selectAllCode" resultType="com.anylogic.iot.api.code.vo.CodeVo">
        SELECT 
        	cd_group_id codeGroupId, dtl_cd dtlCd, dtl_cd_nm as dtlCdName, lang_cd langCd, 
        	dtl_cd_desc dtlCdDesc, indc_odrg indcOdrg, up_cd_group_id upCdGroupId, up_dtl_cd upDtlCd, 
        	expnsn_str_val1 expnsnStrVal1, expnsn_str_val2 expnsnStrVal2, expnsn_str_val3 expnsnStrVal3
		FROM 
			cd_dtl
		WHERE 
			use_yn = 'Y'
		ORDER BY 
			cd_group_id, dtl_cd, indc_odrg

    </select>
 -->

</mapper>