<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.anylogic.iot.api.admin.systemConfig.mapper.GoodMapper">


    <!--  상품 변경 -->
    <update id="updateGood" parameterType="Map">
        UPDATE saehan.tb_product
        SET
            type = #{type}
            , buying_time = #{buying_time}::int
            , product_price = #{product_price}::int
            , created_date = #{created_date}
            , del_yn = #{del_yn}
            , update_date = #{update_date}
            , activate = #{activate}
            , create_id = #{create_id}::int
            , update_id = #{update_id}::int
        WHERE product_id = #{product_id}::int
    </update>


    <!--  상품 검색 -->
    <select id="getGoodList" parameterType="Map" resultType="Map">
        <!--  페이징 SQL Header -->
        <include refid="com.anylogic.iot.api.common.mapper.CommonMapper.pagingHeaderSql" />

        SELECT
            type
            , buying_time
            , product_price
            , created_date
            , del_yn
            , update_date
            , activate
            , create_id
            , update_id
            , ROW_NUMBER() OVER( order by product_id ) as RNUM 
        FROM saehan.tb_product
        WHERE 1 = 1
        <if
            test="searchType != null and (searchType eq 'branch'.toString()) and searchText != null and searchText"> 
            and product_id = #{searchText}::int
        </if>

        <!--  페이징 SQL Footer -->
        <include refid="com.anylogic.iot.api.common.mapper.CommonMapper.pagingFooterSql" />
    </select>


    <!--  상품 삭제 -->
    <delete id="deleteGood" parameterType="Map">
        UPDATE saehan.tb_product
        SET
            del_yn = 'Y' 
        WHERE product_id = #{product_id}::int
    </delete>

</mapper>
