<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anylogic.iot.api.mobile.mapper.MobileMapper">


	<select id="getNoticeList" parameterType="Map" resultType="Map">
		select notice_id as noticeId,		
		writer as writer,
		title as title,
		views as views,
		contents as contents,
		write_dt as
		writeDt,
		modify_dt as modifyDt,
		state as state
		from saehan.tb_notice
		where cast(notice_id as text)  <![CDATA[ >= ]]>#{sNum}
		and cast(notice_id as text) <![CDATA[<= ]]>#{eNum}

	</select>

	<select id="getLogin" parameterType="Map" resultType="Map">
		SELECT id,
		PASSWD,
		NM,
		MEMBER_ID
		from saehan.tb_member
		WHERE id = #{userId}
		AND PASSWD
		= #{userPw}

	</select>

	<select id="getPassword" parameterType="Map" resultType="Map">
		SELECT
		id,
		PASSWD,
		NM,
		MEMBER_ID
		from saehan.tb_member
		WHERE NM = #{userNm}
		AND
		HP_NO = #{cellphone}

	</select>

	<update id="updatePw" parameterType="Map">
		UPDATE saehan.tb_member
		SET
		PASSWD = #{tempPw}
		WHERE id = #{id}
	</update>

	<select id="getNotice" parameterType="Map" resultType="Map">
		select notice_id as noticeId,
		writer as writer,
		title as title,
		views as views,
		contents as contents,
		write_dt as
		writeDt,
		modify_dt as modifyDt,
		state as state
		from saehan.tb_notice
		where cast(notice_id as text)  <![CDATA[ = ]]>#{num}


	</select>

	<insert id="setRegUser" parameterType="Map">
		INSERT INTO
		saehan.tb_member(
		ID
		, PASSWD
		, NM
		, HP_NO
		, EMAIL
		, APLY_CLASS
		
		, REG_DT
		, PERMIT_YN

		)
		VALUES(
		#{userId}
		, #{userPw}
		, #{userNm}
		, #{cellphone}
		, #{email}
		, 'G'
		
		, now()
		, 'Y'

		)
	</insert>


	<select id="getUserInfo" parameterType="Map" resultType="Map">
		SELECT
		MEMBER_ID,
		ID,
		PASSWD,
		NM,
		DEPT_NM,
		TEL_NO,
		HP_NO,
		EMAIL,
		INTRUDUCTION,
		MEMBER_NUMBER,
		TYPE,
		APLY_CLASS,
		
		REG_DT,
		PERMIT_YN,
		STATE,
		POSITION_NAME,
		LANGUAGE_TYPE
		from saehan.tb_member
		WHERE cast(MEMBER_ID as text) =
		#{memberId}


	</select>

	<update id="setUserInfo" parameterType="Map">
		UPDATE saehan.tb_member
		SET
		NM = #{userNm},
		PASSWD = #{userPw},
		HP_NO = #{cellphone},
		EMAIL =
		#{email}

		WHERE cast(MEMBER_ID as text) = #{memberId}
	</update>

	<select id="getReservationList" parameterType="Map" resultType="Map">

		<!-- 회의실 -->
		<if test="gubun != null and !gubun.isEmpty() and gubun == 1">
			select
			BOOKING_CONFERENCE_ID,
			CONFERENCE_ID,
			MEETING_START_TIME,
			MEETING_END_TIME,
			MEETING_TITLE,
			MEETING_CONTENTS,
			MEETING_STATUS,			
			COMPANY_NAME,
			REMARK,
			MEMBER_ID,
			CREATED_DATE
			from
			saehan.tb_BOOKING_CONFERENCE
			where
			cast(MEMBER_ID as text) = #{memberId}
			and
			to_date(#{sData}, 'YYYY-MM-DD') <![CDATA[ <= ]]>MEETING_START_TIME
			and to_date(#{eData}, 'YYYY-MM-DD') <![CDATA[ >= ]]>MEETING_END_TIME
		</if>
		<!-- 피트니스센터 -->
		<if test="gubun != null and !gubun.isEmpty() and gubun == 2">
			select
			BOOKING_FACILITY_ID,
			FACILITY_ID,
			BOOKING_START_TIME,
			BOOKING_END_TIME,
			USE_TIME,
			MEMBER_ID,
			COMPANY_NAME,
			CREATED_DATE
			from
			saehan.tb_BOOKING_FACILITY
			where cast(MEMBER_ID as text) = #{memberId}
			and
			to_date(#{sData}, 'YYYY-MM-DD') <![CDATA[ <= ]]>BOOKING_START_TIME
			and to_date(#{eData}, 'YYYY-MM-DD') <![CDATA[ >= ]]>BOOKING_END_TIME
			and FACILITY_ID in (select FACILITY_ID from saehan.TB_FACILITY where
			TYPE = 'F' )

		</if>
		<!-- 수면실 -->
		<if test="gubun != null and !gubun.isEmpty() and gubun == 3">
			select
			BOOKING_FACILITY_ID,
			FACILITY_ID,
			BOOKING_START_TIME,
			BOOKING_END_TIME,
			USE_TIME,
			MEMBER_ID,
			COMPANY_NAME,
			CREATED_DATE
			from
			saehan.tb_BOOKING_FACILITY
			where cast(MEMBER_ID as text) = #{memberId}
			and
			to_date(#{sData}, 'YYYY-MM-DD') <![CDATA[ <= ]]>BOOKING_START_TIME
			and to_date(#{eData}, 'YYYY-MM-DD') <![CDATA[ >= ]]>BOOKING_END_TIME
			and FACILITY_ID in (select FACILITY_ID from saehan.TB_FACILITY where
			TYPE = 'S' )
		</if>
	</select>

	<select id="getReservation" parameterType="Map" resultType="Map">
		select
		BOOKING_CONFERENCE_ID,
		CONFERENCE_ID,
		MEETING_START_TIME,
		MEETING_END_TIME,
		MEETING_TITLE,
		MEETING_CONTENTS,
		MEETING_STATUS,		
		COMPANY_NAME,
		REMARK,
		MEMBER_ID,
		CREATED_DATE
		from
		saehan.tb_BOOKING_CONFERENCE
		where cast(BOOKING_CONFERENCE_ID as text)  =
		#{reservationNo}

	</select>

	<delete id="setReservationMemberCancel" parameterType="Map">
		delete
		from saehan.tb_BOOKING_PARTICIPANT
		where cast(BOOKING_CONFERENCE_ID as text) =
		#{reservationNo}

	</delete>


	<delete id="setReservationCancel" parameterType="Map">
		delete from
		saehan.tb_BOOKING_CONFERENCE
		where cast(BOOKING_CONFERENCE_ID as text) =
		#{reservationNo}

	</delete>

	<select id="getMemberList" parameterType="Map" resultType="Map">
		SELECT
		MEMBER_ID,
		ID,
		PASSWD,
		NM,
		DEPT_NM,
		TEL_NO,
		HP_NO,
		EMAIL,
		INTRUDUCTION,
		MEMBER_NUMBER,
		TYPE,
		APLY_CLASS,
		
		REG_DT,
		PERMIT_YN,
		STATE,
		POSITION_NAME,
		LANGUAGE_TYPE
		from saehan.tb_member
		where
		OFFICE_RENT_ID in
		(select OFFICE_RENT_ID from saehan.tb_member where
		member_id = #{memberId})

	</select>

	<insert id="setReservationService" parameterType="Map">
		INSERT INTO
		saehan.tb_BOOKING_FACILITY(
		FACILITY_ID,
		BOOKING_START_TIME,
		BOOKING_END_TIME,
		USE_TIME,
		MEMBER_ID,
		CREATED_DATE
		)
		VALUES(
		#{facilityId}
		, #{reservationStartTime}
		, #{reservationEndTime}
		, #{useTime}
		,
		#{memberId}
		, now()
		)
	</insert>


	<select id="getQuestionList" parameterType="Map" resultType="Map">
		SELECT
		QUESTION_ID,
		QUESTION_KIND,
		CODE,
		TITLE,
		MEMBER_ID,
		WRITER,
		CONTENTS,
		WRITE_DT,
		MODIFY_DT,
		NOTICE_YN,
		STATE
		from saehan.tb_QUESTION
		where
		member_id = #{memberId}
		and cast(QUESTION_ID as
		text)  <![CDATA[ >= ]]>#{sNum}
		and cast(QUESTION_ID as text) <![CDATA[<= ]]>#{eNum}

	</select>

	<select id="getQuestion" parameterType="Map" resultType="Map">
		SELECT
		a.QUESTION_ID,
		a.QUESTION_KIND,
		a.CODE,
		a.TITLE,
		a.MEMBER_ID,
		a.WRITER,
		a.CONTENTS,
		a.WRITE_DT,
		a.MODIFY_DT,
		a.NOTICE_YN,
		a.STATE,
		b.TITLE,
		b.REP_CONTENTS,
		b.REP_DT
		from saehan.tb_QUESTION a,
		saehan.tb_QUESTION_reply b
		where
		a.member_id =
		#{memberId}
		and
		a.QUESTION_ID = #{questionId}
		and a.QUESTION_ID =
		b.QUESTION_ID

	</select>


	<delete id="setQuestionDelete" parameterType="Map">
		delete
		from
		saehan.TB_QUESTION
		where QUESTION_ID =
		#{questionId}
	</delete>

	<delete id="setQuestionReplyDelete" parameterType="Map">
		delete
		from
		saehan.TB_QUESTION_REPLY
		where QUESTION_ID =
		#{questionId}

	</delete>

	<insert id="setQuestionRegistration" parameterType="Map">
		INSERT INTO
		saehan.TB_QUESTION(
		MEMBER_ID,
		TITLE,
		CONTENTS,
		WRITE_DT
		)
		VALUES(
		#{memberId}
		, #{title}
		, #{reservationEndTime}
		, #{content}
		, now()
		)
	</insert>


	<select id="getProgramList" parameterType="Map" resultType="Map">
		SELECT
		PROGRAM_ID,
		CODE,
		WRITER_ID,
		WRITER,
		BOARD_KND,
		TITLE,
		CONTENTS,
		PARTICIPANT_NUMBER,
		PARTICIPANT_STATE,
		VIEWS,
		WRITE_DT,
		MODIFY_DT,
		STATE
		from saehan.tb_PROGRAM
	</select>

	<select id="getProgram" parameterType="Map" resultType="Map">
		SELECT
		PROGRAM_ID,
		CODE,
		WRITER_ID,
		WRITER,
		BOARD_KND,
		TITLE,
		CONTENTS,
		PARTICIPANT_NUMBER,
		PARTICIPANT_STATE,
		VIEWS,
		WRITE_DT,
		MODIFY_DT,
		STATE
		from saehan.tb_PROGRAM
		where PROGRAM_ID = #{programId}

	</select>

	<insert id="setProgramRegistration" parameterType="Map">
		INSERT INTO
		saehan.TB_PROGRAM_PARTICIPANT(
		PROGRAM_ID,
		USER_ID,
		PARTICIPANT_NAME,
		PHONE_NUMBER,
		CREATED_DATE
		)
		VALUES(
		#{programId}
		, #{memberId}
		, (select nm
		from tb_member where member_id = #{memberId})
		, (select HP_NO from
		tb_member where member_id = #{memberId})
		, now()
		)
	</insert>


	<select id="getRoomList" parameterType="Map" resultType="Map">
		SELECT
		CONFERENCE_ID,
		BRANCH_ID,
		ROOM_NAME,
		FLOOR,
		ROOM_SIZE,
		ROOM_AREA,
		BASIC_HOUR,
		BASIC_FEE,
		START_TIME,
		CLOSE_TIME,
		STATE,
		CREATED_BY,
		CREATED_DATE,
		DEL_YN
		from saehan.TB_CONFERENCE
		where cast(ROOM_SIZE as
		text) <![CDATA[ >= ]]>
		#{memCnt}
		and del_yn = "N"

	</select>

	<select id="getResDate" parameterType="Map" resultType="Map">
		SELECT
		MEETING_START_TIME,
		MEETING_END_TIME

		from saehan.TB_BOOKING_CONFERENCE
		where to_char(MEETING_START_TIME,
		'YYYYMMDD') =
		to_char(to_date(#{resDate}, 'YYYYMMDD') , 'YYYYMMDD')
		and
		cast(CONFERENCE_ID as text) = #{findSeq}

	</select>

	<insert id="setReservationRoom" parameterType="Map">

		<selectKey keyProperty="insertKey" resultType="int" order="AFTER">
 			SELECT MAX(booking_conference_id) FROM saehan.TB_BOOKING_CONFERENCE
		</selectKey>

		INSERT INTO
		saehan.TB_BOOKING_CONFERENCE(
		CONFERENCE_ID,
		MEETING_START_TIME,
		MEETING_END_TIME,
		MEETING_TITLE,
		MEETING_CONTENTS,
		MEMBER_ID,		
		CREATED_DATE
		)
		VALUES(
		cast(#{conferenceId} as numeric) 
		, to_timestamp(#{reservationStartTime}, 'YYYY-MM-DD hh24:mi:ss')		
		, to_timestamp(#{reservationEndTime}, 'YYYY-MM-DD hh24:mi:ss'	)	
		, #{reservationTitle}
		, #{reservationMsg}
		, cast(#{memberId} as numeric)
		, now()
		)

	</insert>

<insert id="setReservationRoomMember" parameterType="Map">

		

		INSERT INTO
		saehan.TB_BOOKING_PARTICIPANT(
		BOOKING_CONFERENCE_ID,
		MEMBER_ID,
		PARTICIPANT_NAME,
		COMPANY_NAME,
		PHONE_NUMBER,
	<!-- 	STATUS,		 -->
		CREATED_DATE
		)
		VALUES(
		cast(#{insertKey} as numeric) 
		, cast(#{memberId} as numeric)	
		, #{participantName}
		, #{companyName}
		, #{phoneNumber}
		<!-- , #{status} -->
		, now()
		)

	</insert>



</mapper>



	
	
	
	
	

	
	

	
	


