<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.anylogic.iot.api.admin.onm.mapper.BoardMapper">

    <!--   - insertBoard -->
    <insert id="insertBoard" parameterType="Map">

        <selectKey keyProperty="reference_id" resultType="int" order="AFTER">
            SELECT MAX(board_id) FROM sdp.tb_board
        </selectKey>


        <!-- INSERT INTO
        sdp.tb_board(
            title
            , content
            , create_dt
            , create_id
            
        )
        VALUES(
            #{title}
            , #{content}
            , now()
            , #{create_id}::int
            
        ) -->
        
        INSERT INTO
        sdp.tb_testinsert(
        	name
        	, age
        	, company
        	, department
        )
        VALUES(
        	#{name}
        	, #{age}
        	, #{company}
        	, #{department}
        	)
    </insert>


    <!--   - updateBoard -->
    <update id="updateBoard" parameterType="Map">
        UPDATE sdp.tb_board
        SET
            title = #{title}
            , content = #{content}
            , create_id = #{create_id}::int
            , view_cnt = #{view_cnt}::int
        WHERE board_id = #{board_id}::int
    </update>


    <!--   - addViewCount -->
    <update id="addViewCount" parameterType="Map">
        UPDATE sdp.tb_board
        SET
        view_cnt = view_cnt +1
        WHERE board_id = #{reference_id}::int
    </update>


    <!--   - selectBoard -->
    <select id="selectBoard" parameterType="Map" resultType="Map">
        <!--  페이징 SQL Header -->
        <include refid="com.anylogic.iot.api.common.mapper.CommonMapper.pagingHeaderSql" />

        SELECT
            board_id
            , title
            , content
            , to_char(create_dt,'YYYY-MM-DD hh24:mi:ss') as create_dt
            , create_id
            , view_cnt
            , ROW_NUMBER() OVER( order by board_id ) as RNUM 
        FROM sdp.tb_board
        WHERE 1 = 1
        <!-- <if test="searchType != null and (searchType eq 'A'.toString()) and searchText != null and searchText"> 
            and board_id = #{searchText}::int
        </if> -->

        <!--  페이징 SQL Footer -->
        <include refid="com.anylogic.iot.api.common.mapper.CommonMapper.pagingFooterSql" />
    </select>


    <!--   - deleteBoard -->
    <delete id="deleteBoard" parameterType="Map">
        DELETE FROM sdp.tb_board
        WHERE board_id = #{board_id}::int
    </delete>
    
    <select id="getBoardFile"  parameterType="Map" resultType="Map">
		select 
		attach_file_id,
		reference_id,
		file_name as name,
		file_path
		 from sdp.tb_attach_file
		where reference_id = #{reference_id}
		and table_name = 'sdp.tb_board'
	
	</select>
	<delete id="resetBoardFile" parameterType="Map" >
		delete from sdp.tb_attach_file
		where reference_id = #{reference_id}
		and table_name = 'sdp.tb_board'
	
	</delete>
	
	<insert id="reinsertFile" parameterType="Map" >
	INSERT INTO
		sdp.tb_attach_file(
		table_name,
		reference_id,
		file_name,
		file_path,
		create_dt
		)values(
		'sdp.tb_board',
		#{reference_id},
		#{name},
		#{file_path},
		now()
		)
	
	</insert>
	

</mapper>
