<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.anylogic.iot.api.admin.onm.mapper.TestMapper">
    
    <select id="selectList" resultType="Map">

       SELECT
            name
            , age
            , company
            , department
        FROM sdp.tb_testinsert
<!--         where name like CONCAT('%', #{searchTest}, '%') -->
    </select>



    <!--  사용자 등록 -->
    <insert id="insertTest" parameterType="Map">
 		INSERT INTO
        sdp.tb_testinsert(
        	name
        	, age
        	, company
        	, department
        )
        VALUES(
        	#{name}
        	, #{age}::int
        	, #{company}
        	, #{department}
        	)
    </insert>

    <!-- 사용자 삭제 -->
    <delete id="deleteTest" parameterType="Map">
	  DELETE
    FROM sdp.tb_testinsert
    WHERE name = #{name}
    </delete>

    <!-- 사용자 조회 -->
    <select id="selectTest" parameterType="Map" resultType="Map">
      SELECT
              name
              , age
              , company
              , department
      FROM    sdp.tb_testinsert
      WHERE   name = #{name}
     <!--  WHERE   name LIKE CONCAT('%', #{name}), '%') -->

    </select>

</mapper>
