<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.anylogic.iot.api.admin.onm.mapper.UserMapper">
    
     <select id="selectList" resultType="Map">

       SELECT
            name
            , age
            , company
            , department
        FROM sdp.tb_testinsert
<!--         where name like CONCAT('%', #{searchTest}, '%') -->
    </select>


    <!--  사용자 검색 -->
    <select id="login" parameterType="Map" resultType="Map">

        SELECT
            user_id
            , id
            , passwd
            , user_name
            , email
            , tel
            , to_char(create_dt,'YYYY-MM-DD hh24:mi:ss') as create_dt
            , del_yn
            , ROW_NUMBER() OVER( order by user_id ) as RNUM 
        FROM sdp.tb_user
        WHERE 1 = 1
            and del_yn = 'N' 
        <if test="searchType != null and (searchType eq 'A'.toString()) and searchText != null and searchText"> 
            and user_id = #{searchText}::int
        </if>

    </select>


    <!--  사용자 등록 -->
    <insert id="insertUser" parameterType="Map">

        <selectKey keyProperty="reference_id" resultType="int" order="AFTER">
            SELECT MAX(user_id) FROM sdp.tb_user
        </selectKey>


        INSERT INTO
        sdp.tb_user(
            id
            , passwd
            , user_name
            , email
            , tel
            , create_dt
            , del_yn
        )
        VALUES(
            #{id}
            , #{passwd}
            , #{user_name}
            , #{email}
            , #{tel}
            , now()
            , 'N' 
        )
    </insert>


    <!--  사용자 검색 -->
    <select id="dupID" parameterType="Map" resultType="Map">

        SELECT
            user_id
            , id
            , passwd
            , user_name
            , email
            , tel
            , to_char(create_dt,'YYYY-MM-DD hh24:mi:ss') as create_dt
            , del_yn
            , ROW_NUMBER() OVER( order by user_id ) as RNUM 
        FROM sdp.tb_user
        WHERE 1 = 1
            and del_yn = 'N' 
        <if test="searchText != null and searchText"> 
            and id = #{searchText}
        </if>

    </select>


    <!--  사용자 변경 -->
    <update id="logout" parameterType="Map">
        UPDATE sdp.tb_user
        SET
            id = #{id}
            , passwd = #{passwd}
            , user_name = #{user_name}
            , email = #{email}
            , tel = #{tel}
            , del_yn = #{del_yn}
        WHERE user_id = #{user_id}::int
    </update>


    <!--  사용자 검색 -->
    <select id="selectUser" parameterType="Map" resultType="Map">
        <!--  페이징 SQL Header -->
        <include refid="com.anylogic.iot.api.common.mapper.CommonMapper.pagingHeaderSql" />

        SELECT
            user_id
            , id
            , passwd
            , user_name
            , email
            , tel
            , to_char(create_dt,'YYYY-MM-DD hh24:mi:ss') as create_dt
            , del_yn
            , ROW_NUMBER() OVER( order by user_id ) as RNUM 
        FROM sdp.tb_user
        WHERE 1 = 1
            and del_yn = 'N' 
        <if test="searchType != null and (searchType eq 'A'.toString()) and searchText != null and searchText"> 
            and user_id = #{searchText}::int
        </if>

        <!--  페이징 SQL Footer -->
        <include refid="com.anylogic.iot.api.common.mapper.CommonMapper.pagingFooterSql" />
    </select>


    <!--  사용자 Excel 검색 -->
    <select id="selectUserExcel" parameterType="Map" resultType="Map">

        SELECT
            user_id
            , id
            , passwd
            , user_name
            , email
            , tel
            , to_char(create_dt,'YYYY-MM-DD hh24:mi:ss') as create_dt
            , del_yn
            , ROW_NUMBER() OVER( order by user_id ) as RNUM 
        FROM sdp.tb_user
        WHERE 1 = 1
            and del_yn = 'N' 
        <if test="searchType != null and (searchType eq 'A'.toString()) and searchText != null and searchText"> 
            and user_id = #{searchText}::int
        </if>

    </select>


    <!--  사용자 변경 -->
    <update id="updateUser" parameterType="Map">
        UPDATE sdp.tb_user
        SET
            id = #{id}
            , passwd = #{passwd}
            , user_name = #{user_name}
            , email = #{email}
            , tel = #{tel}
            , del_yn = #{del_yn}
        WHERE user_id = #{user_id}::int
    </update>


    <!--  사용자 삭제 -->
    <delete id="deleteUser" parameterType="Map">
        UPDATE sdp.tb_user
        SET
            del_yn = 'Y' 
        WHERE user_id = #{user_id}::int
    </delete>


<select id="getImageFileData" parameterType="Map" resultType="Map">

        SELECT
           *
        FROM sdp.tb_attach_file
        WHERE reference_id = #{reference_id}
        and table_name = #{table_name}
           
    </select>




</mapper>
